.env
*/.env
**/.env
node_modules/
dist/
.next/
backups/files/*
backups/rclone.conf
core-postgres/init-scripts/auth-schema.sql
kunden-instances/*/docker-compose.yml
deployments/builds/*
!deployments/builds/.gitkeep
deployments/apps/*
!deployments/apps/.gitkeep
traefik/letsencrypt/*
!traefik/letsencrypt/.gitkeep
